OPENAI_API_KEY=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
BOT_TOKEN=7870251405:AAEYukmH1b0CtTv4LL_v1IUfxW9pvEY7jtI
ADMINS=helionstudio,ni_nochka